.compare
    width 100%
    margin-bottom 5rem

    .search-container
        max-width $column-width
        margin 0 auto 3rem auto
        padding 1rem
        font-family $national

        .instruction
            font-style italic  
            set-type-size('small', true)
            color $gray-dark
            margin 0.5rem 0 0 0      

        .directions
            display flex
            flex-direction column
            align-items baseline
            width 100%
            justify-content flex-start
            +mq('bp-4')
              justify-content space-between 
              flex-direction row 

            .title
                font-family $impact
                text-transform uppercase
                set-type-size('x-large', true)
                letter-spacing 0.025rem

            p
                font-family $mono
                set-type-size('x-small', true)  
                text-transform uppercase 
                margin 0 

        input
            width 100%
            border 2px solid $off-black  
            height 3rem 
            margin 0.5rem 0 0 0
            +mq('bp-4')
                margin 0 


    .table-container
        width 100%
        max-width 65rem
        margin 0 auto 3rem auto   
        display flex
        flex-direction column
        align-items center
        justify-content space-between
        flex-wrap wrap
        padding 0 1rem
        +mq('bp-5')
            flex-direction row
            justify-content space-between
            align-items start

        .user-message 
            display none 
            &.is-visible 
                display inline-block
                font-family $national
                color $gray-dark
                font-style italic
                set-type-size('small', true)


        .table 
            width 100%
            max-width 25rem
            border-spacing 4rem
            display flex
            flex-direction column
            position relative
            margin 0 0 3rem 0
            +mq('bp-5')
                width 30%
                margin 0

            h3
                font-family $impact
                set-type-size('x-large', true)
                text-transform uppercase  
                text-align left
                border-bottom 5px solid $karen-red

            table
                min-width 15rem
                margin 0
                +mq('bp-4') 
                    width 100% 
                    margin 0

            .row
                width 100%
                display flex
                flex-direction row

                .col10, .col20, .col30
                    display flex
                    flex-direction row 
                    align-items baseline 
                    width 33%
                    padding-left 0.25rem


            td 
                font-family $mono 
                text-transform uppercase
                set-type-size('small', true) 
                margin 0.75rem 0
                padding 0.5rem 0.5rem
                border-bottom 1px solid $gray-light
                +mq('bp-4')
                    set-type-size('small', true) 

            .corr, .years
                font-family $impact
                set-type-size('small', true)
                margin 0.75rem 0.5rem 0.75rem 0
                letter-spacing 0.025rem
                +mq('bp-4')
                    set-type-size('small', true) 

            .corr
                text-align right 
                color $gray-dark       
                
            .danger 
                .corr 
                    color $karen-red 

            .years 
                border-bottom none
                width 4.5rem 
                padding 0.75rem 0 

                
    /* Input styling */

    .autocomplete__wrapper
        position relative

    label 
        display none

    .autocomplete__hint,
    .autocomplete__input
        -webkit-appearance none
        border 2px solid #0b0c0c
        border-radius 0
        box-sizing border-box
        -moz-box-sizing border-box
        -webkit-box-sizing border-box
        margin-bottom 0
        width 100%

    .autocomplete__input
        background-color transparent
        position relative

    .autocomplete__hint
        color #b1b4b6
        position absolute

    .autocomplete__input--default
        padding 5px

    .autocomplete__input--focused
        outline 3px solid $karen-red
        outline-offset 0
        box-shadow inset 0 0 0 2px

    .autocomplete__input--show-all-values
        padding 5px 34px 5px 5px
        cursor pointer

    .autocomplete__dropdown-arrow-down
        z-index -1
        display inline-block
        position absolute
        right 8px
        width 24px
        height 24px
        top 10px

    .autocomplete__menu
        background-color #fff
        border 2px solid #0b0c0c
        border-top 0
        color #0b0c0c
        margin 0
        max-height 342px
        overflow-x hidden
        padding 0
        width 100%
        width calc(100% - 4px)

    .autocomplete__menu--visible
        display block

    .autocomplete__menu--hidden
        display none

    .autocomplete__menu--overlay
        box-shadow rgba(0, 0, 0, .256863) 0 2px 6px
        left 0
        position absolute
        top 100%
        z-index 100

    .autocomplete__menu--inline
        position relative

    .autocomplete__option
        border-bottom solid #b1b4b6
        border-width 1px 0
        cursor pointer
        display block
        position relative
        & > *
            pointer-events none
        &:first-of-type
            border-top-width 0
        &:last-of-type
            border-bottom-width 0

    .autocomplete__option--odd
        background-color #fafafa

    .autocomplete__option--focused,
    .autocomplete__option:hover
        background-color #1d70b8
        border-color #1d70b8
        color #fff
        outline 0

    .autocomplete__option--no-results
        background-color #fafafa
        color #646b6f
        cursor not-allowed

    .autocomplete__hint,
    .autocomplete__input,
    .autocomplete__option
        font-size 16px
        line-height 1.25

    .autocomplete__hint,
    .autocomplete__option
        padding 5px

