.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem

	&__hed
		max-width 35rem
		margin 0 auto 5rem auto
		text-align center
		font-family 'Impact'
		text-transform uppercase
		set-type-size('big-daddy', true)
		
	&__byline
		max-width $column-width
		margin 0 auto 3rem auto
		text-align center
		font-family $national
		set-type-size('root', true)
