.intro
	margin 0 auto
	padding 0rem 1rem 3rem 1rem

	&__hed
		max-width 35rem
		margin 0 auto 5rem auto
		text-align center
		font-family 'Impact'
		text-transform uppercase
		set-type-size('big-daddy', true)
		
	&__byline
		max-width $column-width
		margin 0 auto 3rem auto
		text-align center
		font-family $national
		set-type-size('root', true)

	&__image
		position relative
		height 0
		margin 0 auto 3rem 0
		width 100%
		padding-bottom 55%	

		.layer1, .layer2, .layer3
			border 7px solid $off-black

		.layer1
			position absolute
			top 70%
			left 50%
			margin-right -50%
			transform translate(-50%, -50%)
			max-width 32%

		.layer2
			position absolute
			top 12%
			left 60%
			max-width 35%

		.layer3
			position absolute
			top 15%
			left 5%
			max-width 35%
							
