.intro
	margin 0 auto
	padding 0rem 0rem 3rem 0rem

	.chart-wrapper
		margin 0 auto
		max-width $column-width

		.charts
			width 100% 
			justify-content center
			padding 0 1rem

			.chart__line
				width 100%
				max-width 20rem
				margin 2rem 0 -1rem 0
				height 18rem

	.bolded
		font-weight 700

	&__hed
		max-width 25rem
		margin 0 auto 3rem auto
		text-align center
		font-family $impact
		text-transform uppercase
		set-type-size('x6-large', true)
		+mq('bp-3')
			max-width 35rem
			set-type-size('lil-daddy', true)
		+mq('bp-5')
			set-type-size('big-daddy', true)
			margin 0 auto 5rem auto
		
	&__byline
		max-width $column-width
		margin 0 auto 3rem auto
		text-align center
		font-family $national
		set-type-size('root', true)
		padding 0 1rem

		a
			&:hover
				color $karen-purple
				border-bottom 1px solid $karen-purple

	&__image
		position relative
		height 0
		margin 3rem auto
		width 100%
		padding-bottom 55%
		max-width 60rem
		+mq('bp-5')
			margin 0 auto 3rem auto	

		.layer1
			position absolute
			top 70%
			left 50%
			margin-right -50%
			transform translate(-50%, -50%)
			max-width 38%

			img

				&:hover
					transform rotate(5deg) scale(1.05)
					transform origin center	

		.layer2
			position absolute
			top 12%
			left 60%
			max-width 40%

			img

				&:hover
					transform rotate(-2deg) scale(.95)
					transform origin center	

		.layer3
			position absolute
			top 15%
			left 5%
			max-width 40%
			
			img

				&:hover
						transform rotate(2deg) scale(.95)
						transform origin center	

							
