.methods
    width 100%
    padding-bottom 7rem

    h3
        max-width $column-width
        padding 0 1rem
        margin 0 auto
        font-family Impact
        text-transform uppercase
        set-type-size('medium', true)
        letter-spacing 0.025rem

    .prose
        set-type-size('small', true)  

    ul
        max-width $column-width
        margin 0 auto 3rem auto
        font-family $national
        padding 0 1rem
        list-style-type circle
        list-style-position inside

        li
          set-type-size('small', true)    
