.methods
    width 100%

    h3
        max-width $column-width
        padding 0 1rem
        margin 0 auto
        font-family 'Impact'
        text-transform uppercase
        set-type-size('medium', true)
        letter-spacing 0.025rem

    .prose
        set-type-size('small', true)    