/* CUSTOM STORY STYLE */

.charts 
    display flex 
    flex-direction row 
    flex-wrap wrap
    width 100%
    padding 3rem 0rem   


.chart__line 
    max-width 15rem
    height 18rem
    margin 1.5rem

    .chart-name 
        margin 0
        font-family 'Impact'
        set-type-size('x-large')
        text-transform uppercase
    .chart-sub 
        font-family $mono
        text-transform uppercase 
        set-type-size('small')
        margin -0.25rem 0 0 0
        span 
            font-family 'Impact'
            color $karen-red

    svg
        margin-top 1rem        
    .g-axis 
        line
            stroke $gray-light
            stroke-width 1px
        text 
            color $off-black
            font-family $mono

    .line 
        stroke-width 3px 
        fill none
        &-karen 
            stroke rgba($gray, 0.75)
            fill none
            stroke-width 2px 

    .annotations
        font-family $mono
        set-type-size('small')
        .annotation-note-title
            fill $karen-red
        .connector 
            stroke $karen-red
        .connector-end 
            fill $karen-red
            stroke $karen-red

        .annotation--Karen
            .annotation-note-title 
                fill rgba($gray, 0.75)
            .connector 
                stroke rgba($gray, 0.75)
            .connector-end 
                fill rgba($gray, 0.75)
                stroke rgba($gray, 0.75)
