/* CUSTOM STORY STYLE */
 
.prose a
    &:hover
        color $karen-purple
        border-bottom 1px solid $karen-purple

.charts 
    display flex 
    flex-direction row 
    flex-wrap wrap
    width 100%
    padding 3rem 0rem   
    height auto 
    justify-content center
    &.is-clipped 
        /* five rows */
        height 100rem
        overflow hidden
        +mq('bp-4')
          height 42rem  
    +mq('bp-5')
        justify-content flex-start  
    
.btn-wrapper
    width 10rem
    margin 0 auto

    .show-more 
        display none 
        margin 2rem auto 7rem auto
        background-color rgba($gray-light, 0.5)
        //border 1px solid $gray
        height 3rem
        width 100%
        color $gray-dark
        //font-family $mono
        text-transform uppercase
        set-type-size('small', true)
        font-weight 700
        &.is-visible 
            display block
        &:hover
            background-color $gray-light 
            color $off-black

.chart__line 
    max-width 15rem
    height 18rem
    margin 1rem
    +mq('bp-5')
        margin 1.5rem

    .chart-name 
        margin 0
        font-family $impact
        set-type-size('x-large')
        text-transform uppercase
    .chart-sub, .chart-sub-karen
        font-family $mono
        text-transform uppercase 
        set-type-size('small')
        margin -0.25rem 0 0 0
        span 
            font-family $impact
            color $karen-red

    svg
        margin-top 1rem        
    .g-axis 
        line
            stroke $gray-light
            stroke-width 1px
        text 
            color $off-black
            font-family $mono

    .line 
        stroke-width 3px 
        fill none
        &-karen 
            stroke rgba($gray, 0.75)
            fill none
            stroke-width 2px 

 

    .annotations
        font-family $mono
        set-type-size('small')
        .annotation-note-title
            fill $karen-red
        .connector 
            stroke $karen-red
        .connector-end 
            fill $karen-red
            stroke $karen-red

        .annotation--Karen
            .annotation-note-title 
                fill rgba($gray, 0.75)
            .connector 
                stroke rgba($gray, 0.75)
            .connector-end 
                fill rgba($gray, 0.75)
                stroke rgba($gray, 0.75)
