<section class='compare'>
    {{#each copy.compare}}
        <p class='prose'>{{{value}}}</p>
    {{/each}}
    <div class='search-container'>
        <div class='directions'>
            <p class='title'>Am I a future Karen?</p>
            <p>Search a name to see if it's in danger</p>
        </div>
        <input type='text'></input>
    </div>
    <div class='table-container'>
        <div class='table table__female'>
            <h3>Female Names</h3>
            <div class='row row__master'>
               <div class='col10'>
                    <p class='title'>In 10 yrs</p>
                </div>
                <div class='col20'>
                    <p class='title'>In 20 yrs</p>
                </div>
                <div class='col30'>
                    <p class='title'>In 30 yrs</p>
                </div> 
            </div>
            <div class='row'>
                <div class='col10'>
                    <p class='num'>0.91</p>
                    <p class='name'>Hailey</p>
                </div>
                <div class='col20'>
                    <p class='num'>0.91</p>
                    <p class='name'>Alyssa</p>
                </div>
                <div class='col30'>
                    <p class='num'>0.91</p>
                    <p class='name'>Megan</p>
                </div>
            </div>
        </div>
        <div class='table table__female'>
            <h3>Male Names</h3>
            <div class='row row__master'>
               <div class='col10'>
                    <p class='title'>In 10 yrs</p>
                </div>
                <div class='col20'>
                    <p class='title'>In 20 yrs</p>
                </div>
                <div class='col30'>
                    <p class='title'>In 30 yrs</p>
                </div> 
            </div>
            <div class='row'>
                <div class='col10'>
                    <p class='num'>0.91</p>
                    <p class='name'>Liam</p>
                </div>
                <div class='col20'>
                    <p class='num'>0.91</p>
                    <p class='name'>Dylan</p>
                </div>
                <div class='col30'>
                    <p class='num'>0.91</p>
                    <p class='name'>Dylan</p>
                </div>
            </div>
        </div>
    </div>
</section>