<section class='compare'>
    {{#each copy.compare}}
    <p class='prose'>{{{value}}}</p>
    {{/each}}
    <div class='search-container'>
        <div class='directions'>
            <p class='title'>Am I a future Karen?</p>
            <p>Search a name to see if it's in danger</p>
        </div>
        <input type='text'></input>
    </div>
    <div class='table-container'>
        <div class='table table__female'>
            <h3>Female Names</h3>
            <table data-gender='F'></table>
        </div>
        <div class='table table__male'>
            <h3>Male Names</h3>
            <table data-gender='M'></table>
        </div>
    </div>
</section>